@import './variables';
@import './header';
@import './home';
@import './footer';
@import './overview';

* {
  margin: 0;
}

/* Carousel.jsx */
.caraousel-mini {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}
/* End of Carousel.jsx */
